HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


# application.yml --- IGNORE ---
application.yml
!**/src/main/**/application.yml
!**/src/test/**/application.yml

# build.gradle --- IGNORE ---
build.gradle
!**/src/main/**/build.gradle
!**/src/test/**/build.gradle

# gradle.properties --- IGNORE ---
gradle.properties
!**/src/main/**/gradle.properties
!**/src/test/**/gradle.properties

# gradlew --- IGNORE ---
gradlew
!**/src/main/**/gradlew
!**/src/test/**/gradlew 